SUPABASE_URL=https://qcjptrrjcltokemjgepb.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFjanB0cnJqY2x0b2tlbWpnZXBiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0ODgxMTMxNCwiZXhwIj>
PORT=3002

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=tech@rishihood.edu.in
SMTP_PASSWORD=dwre qpob yvji toos
SMTP_FROM=DeskBuddy System <tech@rishihood.edu.in>

EXTERNAL_API_KEY=Wmh2VzNhWEVhQlZwSU9maUx3NGlCQXkxNHU=